<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <springProfile name="local | test">
        <appender name="textAppender" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>TRACE</level>
            </filter>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>
                    %clr(%d{yyyy-MM-dd'T'HH:mm:ss'Z'XXX}){faint} %clr(%5p) %clr(-){faint} %clr(%-35.35logger{34}){cyan} %clr(:){faint} %m%n%wEx
                </pattern>
            </encoder>
        </appender>
        <appender name="jsonAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="hiperium.cities.commons.loggers.HiperiumLoggerLayout">
                    <includeMDC>false</includeMDC>
                    <prettyPrint>true</prettyPrint>
                    <addLineSeparator>true</addLineSeparator>
                    <includeThreadName>false</includeThreadName>
                    <includeContextName>false</includeContextName>
                </layout>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="dev | qa">
        <appender name="jsonAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="hiperium.cities.commons.loggers.HiperiumLoggerLayout">
                    <includeMDC>true</includeMDC>
                    <prettyPrint>false</prettyPrint>
                    <addLineSeparator>true</addLineSeparator>
                    <timeZoneId>America/Guayaquil</timeZoneId>
                    <includeThreadName>true</includeThreadName>
                    <includeContextName>true</includeContextName>
                </layout>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="local | test">
        <root level="info">
            <appender-ref ref="textAppender"/>
        </root>
        <logger name="hiperium.city.data.function" level="DEBUG" additivity="false">
            <appender-ref ref="jsonAppender"/>
        </logger>
        <logger name="io.awspring.cloud" level="DEBUG" additivity="false">
            <appender-ref ref="textAppender"/>
        </logger>
        <logger name="org.springframework.cloud.function.adapter.aws" level="DEBUG" additivity="false">
            <appender-ref ref="textAppender"/>
        </logger>
    </springProfile>

    <springProfile name="local">
        <logger name="org.springframework.boot.docker.compose" level="DEBUG" additivity="false">
            <appender-ref ref="textAppender"/>
        </logger>
    </springProfile>

    <springProfile name="test">
        <logger name="hiperium.city.data.function.common.TestContainersBase" level="INFO" additivity="false">
            <appender-ref ref="textAppender"/>
        </logger>
    </springProfile>

    <springProfile name="dev | qa">
        <root level="info">
            <appender-ref ref="jsonAppender"/>
        </root>
        <logger name="hiperium.city.data.function" level="DEBUG" additivity="false">
            <appender-ref ref="jsonAppender"/>
        </logger>
    </springProfile>
</configuration>
