<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="textAppender" class="ch.qos.logback.core.ConsoleAppender">
        <charset>UTF-8</charset>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss'Z'XXX} %5p - %logger{34} : %m%n
            </pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="textAppender"/>
    </root>

    <logger name="io.awspring.cloud" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.cloud.function" level="DEBUG"/>

    <springProfile name="test">
        <springProperty scope="context" name="timezone" source="city.timezone" />
        <springProperty scope="context" name="useCompactMode" source="city.logging.useCompactMode" />
        <springProperty scope="context" name="useFormattedTimestamps" source="city.logging.useFormattedTimestamps" />

        <appender name="jsonAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="hiperium.city.functions.common.loggers.HiperiumLoggerLayout">
                    <timezone>${timezone}</timezone>
                    <useCompactMode>${useCompactMode}</useCompactMode>
                    <useFormattedTimestamps>${useFormattedTimestamps}</useFormattedTimestamps>
                </layout>
            </encoder>
        </appender>

        <logger name="hiperium.city.read.function" level="DEBUG" additivity="false">
            <appender-ref ref="jsonAppender"/>
        </logger>
    </springProfile>
</configuration>
